<div>
  <form class="form-inline"
        (submit)="add()">

    <div class="form-group">
      <label>Description</label>
      <input type="text"
          name="transactionDescription"
          [(ngModel)]="transaction.description"
          class="form-control"
          [class.transaction-error]="!transaction.description.length"
          placeholder="Description"
          autofocus />
    </div>

    <button type="submit"
        class="btn btn-default"
        [disabled]="!transaction.description.length">+</button>
  </form>
</div>
