<hr />
<div class="transaction"
    (click)=clicked()>
  <form class="form-inline"
        (submit)="update(true)">

    <div class="row">
      <div class="col-md-2">
        {{transaction.date | date}}
      </div>

      <div class="col-md-8">
        <div *ngIf="!editMode">
          {{transaction.description}}
        </div>
        <div *ngIf="editMode" class="form-group">
          <label>Description</label>
          <input type="text"
              name="transactionDescription"
              [(ngModel)]="transaction.description"
              class="form-control"
              [class.transaction-error]="!transaction.description.length"
              placeholder="Description"
              autofocus />
        </div>
      </div>
    </div>

    <div *ngIf="editMode">
      <div *ngFor="let entry of transaction.entries; let i = index;">
        <entry [entry]="entry" [index]="i"></entry>
      </div>
    </div>

    <div *ngIf="editMode" class="row">
      <div class="col-md-10">
        <button type="submit"
            class="btn btn-primary"
            [disabled]="!transaction.description.length">Update</button>
      </div>
        <div class="col-md-2">
          <button type=button
              (click)="delete()"
              class="btn btn-warning">Delete</button>
        </div>
    </div>
  </form>
</div>
