<form class="form-inline"
      (submit)="update()">

  <div class="form-group">
    <label [attr.for]="account._id + '-accountName'">Name: </label>

    <input type="text"
           [id]="account._id + '-accountName'"
           name="accountName"
           [(ngModel)]="account.name"
           class="form-control"
           [class.account-error]="!account.name.length"
           placeholder="Name"
           autofocus />
  </div>

  <div class="checkbox">
    <label>
      Active:
      <input type="checkbox"
             name="accountActive"
             [(ngModel)]="account.active" />
    </label>
  </div>

  <div class="form-group">
    <label [attr.for]="account._id + '-accountGroups'">Groups: </label>

    <input type="text"
           [id]="account._id + '-accountGroups'"
           name="accountGroups"
           [(ngModel)]="accountGroups"
           class="form-control"
           placeholder="Groups"
           autofocus />
  </div>

  <div class="checkbox">
    <label>
      Show in list:
      <input type="checkbox"
             name="showInList"
             [(ngModel)]="account.showInList" />
    </label>
  </div>

  <button type="submit"
          [disabled]="!account.name.length">Update</button>
</form>
