<form class="form-inline"
      (submit)="update()">

  <div class="form-group">
    <label [attr.for]="rule._id + '-ruleGroupLeft'">Group A: </label>

    <input type="text"
           [id]="rule._id + '-ruleGroupLeft'"
           name="ruleGroupLeft"
           [(ngModel)]="rule.groupLeft"
           class="form-control"
           [class.rule-error]="!rule.groupLeft?.length"
           placeholder="Group A"
           autofocus />
  </div>

  <div class="form-group">
    <label [attr.for]="rule._id + '-ruleGroupRight'">Group B: </label>

    <input type="text"
           [id]="rule._id + '-ruleGroupRight'"
           name="ruleGroupRight"
           [(ngModel)]="rule.groupRight"
           class="form-control"
           [class.rule-error]="!rule.groupRight?.length"
           placeholder="Group B"
           autofocus />
  </div>

  <button type="submit"
          [disabled]="!rule.groupLeft?.length && !rule.groupRight?.length">Update</button>
</form>
